# Basic Principles in R Practice<br>

This notebook will demonstrate my basic abilities in R and will be updated as I learn more. This is a work in progress of something I have used previously.

### What is R? <br>
R is a programming language that is mainly used for statistical analysis and vizualization. It is a widely used language within the data science field so it is important to take the steps to learn it.

In [1]:
#As with anything, start with a hello world 
print('Hello World')

[1] "Hello World"

In [2]:
#Creating variables, you can use an = or <- for storing the data in the var
var1 = 'Some Words'
var2 <- 'Other Words'

In [3]:
#You can then do things like print the variable to see what is inisde of it. 
print(var1)

[1] "Some Words"

In [4]:
#You can count the number of characters in a var
nchar(var1)

[1] 10

In [5]:
#And you can also concat strings using c()
c(var1, var2)

[1] "Some Words"  "Other Words"

So above is super basic stuff and it seems to be fairly similar to other languages I have used. Obviously there are more data types than just a string so I will taka a look at these now.

In [6]:
#Str is type checking here and not specifying that it is a string. 
str(var1)
str(1)
str('abc')
str(0.1)

 chr "Some Words"
 num 1
 chr "abc"
 num 0.1

In [7]:
#class can be used to check the data types too 
var1 = 'A string'
var2 = 123
var3 = '1'
class(var1)
class(var2)
class(var3)

[1] "character"

[1] "numeric"

[1] "character"

In [8]:
#Just because we have used a number in var3 it has been stored as a string, so to be able to use it we need to do a 
#type conversion on it 
a = 5
b = '2'
#a*b #Trying to use it results in: Error in a * b: non-numeric argument to binary operator
a * as.numeric(b)
#So this lets us do the multiplicaton however it is still a chr as the type conversion needs saving 
b = as.numeric(b)
#Check type 
class(b)

[1] 10

[1] "numeric"

So that works, but maybe some error handling is needed in case we are trying to convert something that cannot be converted

In [9]:
#TryCatch
'''result = tryCatch
(
    {
        expression = function(w)
            {
            warning-handler-code
        },
        
        error = function(e)
            {
            error-handler-code
        },
        
        finally = 
        {
            cleanup-code
        }
    }
)'''

ERROR: Error in parse(text = x, srcfile = src): <text>:2:3: unexpected string constant
19:     }
20: )'
      ^

In [ ]:
var = 'hi this should be a number'

In [ ]:
#Failed attempt at error handling 
toTest <- function(var){
result <- tryCatch
    (
        {
            {
                as.numeric(var)
                print(var)
            }
            error = function(e)
            {
            print(paste('e: ', e))
            }
            warining = function(w)
            {
            print(paste('Warining: ', w))
            }
            finally =
                print(paste('done'))
            }

        )
        return(result)
    }

In [11]:
#Comparisons happen similarly to other languages with == operator
1==1
'a'=='b'

[1] TRUE

[1] FALSE

In [16]:
#Creating a list and vectors
listOfNumbers = c(1, 2, 3, 4, 5, 6, 7.1, 192729872)
listOfNumbers

#Then we manipulate everything in this list at once without having a for loop 
5 * listOfNumbers
listOfNumbers / 2

#Like in Python we can also pull things from the list by specifying the index 
#WEIRDLY AND IMPORTANTLY THE INDICES START AT 1?!
listOfNumbers[1]

[1]         1.0         2.0         3.0         4.0         5.0         6.0
[7]         7.1 192729872.0

[1]         5.0        10.0        15.0        20.0        25.0        30.0
[7]        35.5 963649360.0

[1]        0.50        1.00        1.50        2.00        2.50        3.00
[7]        3.55 96364936.00

[1] 1